*{
	margin: 0; padding: 0; box-sizing: border-box;
}


/*....................... Body Style......................*/
body{
	background-image:url('image\ background.jpg');
}



/*responsive*/
@media screen and (max-width: 1000px){
	.mainContainer{
           width: 100%;
	        }
} 

/*.................header navigation Bar...................*/
.header{

	 height: 5%;
}

.header nav{
	text-align: right; margin-top: 10px; margin-bottom: 10px; margin-right: 10px; margin-right: 10px; border-radius: 5px;
}

.header nav ul{
	list-style: none;
}

.header nav ul li{
	display: inline;
}

.header nav ul li a{
	color: #blue; padding: 10px; border-right: 1px solid #ccc; display: inline-block; font-size: 20px;

}

.header nav ul li a:hover{
	color: #8C8D9E;
}

.header i{
	margin-right: 10px;
}

a{
	text-decoration: none;      /* all links text decorations are none*/
}

/*........................ side bar ...........................*/

.sidebar{
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #010323;
  overflow-x: hidden;
  padding-top: 16px;
  float:left;
}

.sidebar h2{
	color: #8C8D9E;
}
.sidebar a {
  padding: 16px 8px 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #8C8D9E;
  display: block;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar li{
	list-style: none;
}

.sidebar i{
  margin-right: 10px;

}
/*..........................body secction.........................*/

.bodySection{
	 height: 100%;	
     width: 80%;
	 margin-left:20%
}

.table1 table tr th{
	padding: 15px;
}
#font1{
	font-size:115px;
    font-family: "Times New Roman", Times, serif;
    color: #8C1304;
}

#font2{
   font-family:"Times New Roman", Times, serif;
   font-size:50px;
   color: #8C1304;
}

/*...................button section...................*/

.button1{
	padding-right: 50px;
	padding-left: 250px;
	padding-top: 100px;
	float: left;
}

.button2{
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 100px;
	float: left;
}

.button3{
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 100px;
	float: left;
}

.button-section p{

	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: blue;
}

/*......................responsive navigate bar..................*/
.mobilenav{
	text-align: left;
	display: none;
}

.mobilenav i{
	font-size: 30px;
	padding: 20px;
}

.mobilenav ul li{
	width: 100%; display: block;
}

.mobilenav ul li a{
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #ccc;
    font-size: 20px;
}

.mobilenav ul li a:hover{
	color: #C0B0C1;
}

@media screen and (max-width: 1000px){
      .mainContainer{width: 100%;}
      .sidebar{ width: 20%; } 
      .bodySection{ width:80%; }
}

@media screen and (max-width: 880px){  
     .mainContainer{width: 100%;} 
     #font1{display: none;}                            
}

@media screen and (max-width:840px){
	 .sidebar{width: 100%}
	 .bodySection{width:100%}
}
      

@media screen and (max-width: 500px){
     .mobilenav{ display: block; }
     .header nav ul{ display: none; }
     .mobilenav ul {display: none;}

}